{% extends 'adminPanel/base.html' %}

{% block cintent %}


<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">

                <div class="x_title">
                    <h2>Detail Products Entry</h2>
                    <ul class="nav navbar-right panel_toolbox"><a href=""></a>
                        <!-- <li><a href="#"><i class=""><b>Show Products</b></i></a>
                        </li> -->
                        <a class="btn btn-success" href="{% url 'productShow' %}"><font color="white">Show Products</font></a>
                        <!-- <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li> -->
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">

                            {% for i in dProd %}
          
                                    <form class="form-label-left input_mask" method="POST", action="{% url 'addProductDtl' %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <div class="x_panel">
                                                <div class="x_title">
                                                    <ul class="nav navbar-right panel_toolbox">
                                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                        </li>
                                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                                        </li>
                                                    </ul>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="x_content">
                
                
                                                        <div class="form-group row">
                                                            <label for="ProductCode" class="col-form-label col-md-3 col-sm-3 ">Product Code</label>
                                                            <div class="col-md-9 col-sm-9 ">
                                                                <input type="text" name="Product_id" value="{{i.id}}" class="form-control" visibility: hidden>
                                                                <input type="text" name="ProductCode" value="{{i.ProductCode}}" class="form-control" placeholder="Product Code">
                                                            </div>
                                                        </div>
                
                                                        <div class="form-group row">
                                                            <label for="ProductName" class="col-form-label col-md-3 col-sm-3 ">Product Name</label>
                                                            <div class="col-md-9 col-sm-9 ">
                                                                <input type="text" name="ProductName" value="{{i.ProductName}}" class="form-control" placeholder="Product Name">
                                                            </div>
                                                        </div>
          
                
                                                        <div class="form-group row">
                                                            <label class="control-label col-md-3 col-sm-3 ">Select Size</label>
                                                            <div class="col-md-9 col-sm-9 ">
                                                                <select id="Size" class="form-control" name="Size">
                                                                    <option selected>Select Size...</option>
                                                                    {% for size in dSize %}
                                                                        <option {% if i.Size_id == size.id %} selected {% endif %} value="{{size.id}}">{{size.SizeName}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="form-group row">
                                                            <label class="control-label col-md-3 col-sm-3 ">Select Color</label>
                                                            <div class="col-md-9 col-sm-9 ">
                                                                <select id="color" class="form-control" name="color">
                                                                    <option selected>Select Color...</option>
                                                                    {% for color in dColor %}
                                                                        <option {% if i.Color_id == color.id %} selected {% endif %} value="{{color.id}}">{{color.ColorName}}</option>
                                                                    {% endfor %}
                                                                </select>

                                                                
                                                            </div>
                                                        </div>
                                                                                                           
                
                
                                                        <div class="form-group row">
                                                            <label for="UnitPurchasePrice" class="col-form-label col-md-3 col-sm-3 ">Purchase Price</label>
                                                            <div class="col-md-9 col-sm-9 ">
                                                                <input type="number" name="UnitPurchasePrice" {% if i.UnitPurchasePrice is None %} value = 0 {% endif %} value="{{i.UnitPurchasePrice}}" class="form-control" placeholder="Unit Purchase Price">
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="ln_solid"></div>

                                                        <div class="form-group row">
                                                            <label for="UnitSalePrice" class="col-form-label col-md-3 col-sm-3 ">Sale Price</label>
                                                            <div class="col-md-9 col-sm-9 ">
                                                                <input type="number" name="UnitSalePrice" {% if i.UnitCurrSalePrice is None %} value = 0 {% endif %} value="{{i.UnitCurrSalePrice}}" class="form-control" placeholder="Current Seling Price">
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label for="UnitOldSalePrice" class="col-form-label col-md-3 col-sm-3 "></label>
                                                            <div class="col-md-9 col-sm-9 ">
                                                                <input type="number" name="UnitOldSalePrice" {% if i.UnitOldSalePrice is None %} value = 0 {% endif %} value="{{i.UnitOldSalePrice}}" class="form-control" placeholder="Old Seling Price">
                                                            </div>
                                                        </div>                
                                                </div>
                                            </div>
                
                
                
                                        </div>
                
                                        <div class="col-md-6 ">
                                            <div class="x_panel">
                                                <div class="x_title">
                                                    <ul class="nav navbar-right panel_toolbox">
                                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                        </li>
                                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                                        </li>
                                                    </ul>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="x_content">
                
                                             <!--         <form class="form-horizontal form-label-left">=================== -->
                
                                                        <div class="form-group row">
                                                            <label class="control-label col-md-3 col-sm-3 ">Stock In Hand</label>
                                                            <div class="col-md-9 col-sm-9 ">
                                                                <input type="number" name="UnitStockInHand" {% if i.UnitStockInHand is None %} value = 0 {% endif %} value="{{i.UnitStockInHand}}" class="form-control" placeholder="Stock In Hand">
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="ln_solid"></div>
                                                        <div class="col-9">
                                                            <label for="ProductImages" class="form-label">Upload Product Image</label>
                                                            <!-- <input type="file" name="ProductImage" class=""> -->
                                                            <input type="file" class="" id="ProductImages" placeholder="" multiple name="ProductImages" visibility: hidden>
                
                                                        </div>
                
                                                        <div class="col-4">
                                                            <!-- <label for="Productpic" class="form-label">Product Image</label> -->
                                                            <img src="#" alt="" height="115px" width="115px">
                                                        </div>                                          
                
                                                        <div class="ln_solid"></div>
                                                        <div class="form-group">
                                                            <div class="">
                                                                <!-- <button type="button" class="btn btn-primary">Cancel</button>
                                                                <button type="reset" class="btn btn-primary">Reset</button> -->
                                                                <button type="submit" class="btn btn-success">Submit</button>
                                                            </div>
                                                        </div>
                                                  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                {% endfor %}
                                </div>
                            <!-- </div> -->




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

</html>