{% extends 'adminPanel/base.html' %}

{% block cintent %}


<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">

                <div class="x_title">
                    <h2>Products Entry</h2>
                    <ul class="nav navbar-right panel_toolbox"><a href=""></a>
                        <!-- <li><a href="#"><i class=""><b>Show Products</b></i></a>
                        </li> -->
                        <a class="btn btn-success" href="{% url 'productShow' %}"><font color="white">Show Products</font></a>
                        <!-- <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li> -->
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            
                            <!-- <div class="right_col" role="main">
                                <div class="">
                                    <div class="page-title">
                                        <div class="title_left">
                                            <h3>Product Entry</h3>
                                        </div>
                                    </div> -->
               
                                    <form class="form-label-left input_mask" method="POST", action="{% url 'productentry' %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <div class="x_panel">
                                                <div class="x_title">
                                                    <ul class="nav navbar-right panel_toolbox">
                                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                        </li>
                                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                                        </li>
                                                    </ul>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="x_content">
                
                
                                                        <div class="form-group row">
                                                            <label for="ProductCode" class="col-form-label col-md-3 col-sm-3 ">Product Code</label>
                                                            <div class="col-md-9 col-sm-9 ">
                                                                <input type="text" name="ProductCode" class="form-control" placeholder="Product Code">
                                                            </div>
                                                        </div>
                
                                                        <div class="form-group row">
                                                            <label for="ProductName" class="col-form-label col-md-3 col-sm-3 ">Product Name</label>
                                                            <div class="col-md-9 col-sm-9 ">
                                                                <input type="text" name="ProductName" class="form-control" placeholder="Product Name">
                                                            </div>
                                                        </div>
                
                                                        <div class="form-group row">
                                                            <label class="control-label col-md-3 col-sm-3 ">Brand</label>
                                                            <div class="col-md-9 col-sm-9 ">
                                                                <select id="Brand" class="form-control" name="Brand">
                                                                    <option selected>Choose Brand...</option>
                                                                    {% for i in dBrand %}
                                                                    <option value="{{i.id}}">{{i.BrandName}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                
                
                                                        <div class="form-group row">
                                                            <label class="control-label col-md-3 col-sm-3 ">Catagory</label>
                                                            <div class="col-md-9 col-sm-9 ">
                                                                <select id="Category" class="form-control" name="Category">
                                                                    <option selected>Select Category...</option>
                                                                    {% for i in dCat %}
                                                                    <option value="{{i.id}}">{{i.CategoryName}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                
                                                        <div class="form-group row">
                                                            <label class="control-label col-md-3 col-sm-3 ">Size</label>
                                                            <div class="col-md-9 col-sm-9 ">
                                                                <select id="Size" class="form-control" name="Size">
                                                                    <option value="0" selected>Select Size...</option>
                                                                    {% for i in dSize %}
                                                                    <option value="{{i.id}}">{{i.SizeName}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                
                                                        
                <!--                               <select id="BrandName" class="form-select" name="BrandName">
                                                        <option selected>Choose Brand...</option>
                                                        <option value="--"></option>
                                                    </select> -->
                
                
                                                        <div class="form-group row">
                                                            <label for="UnitPurchasePrice" class="col-form-label col-md-3 col-sm-3 ">Purchase Price</label>
                                                            <div class="col-md-9 col-sm-9 ">
                                                                <input type="number" name="UnitPurchasePrice" value = 0 class="form-control" placeholder="Unit Purchase Price">
                                                            </div>
                                                        </div>
                
                                                        <div class="form-group row">
                                                            <label for="UnitSalePrice" class="col-form-label col-md-3 col-sm-3 ">Sale Price</label>
                                                            <div class="col-md-9 col-sm-9 ">
                                                                <input type="number" name="UnitSalePrice" value = 0 class="form-control" placeholder="Unit Sale Price">
                                                            </div>
                                                        </div>
                
                                                        <!-- <div class="form-group row">
                                                            <label for="UnitOldSalePrice" class="col-form-label col-md-3 col-sm-2 ">Old Sale Price</label>
                                                            <div class="col-md-9 col-sm-9 ">
                                                                <input type="number" name="UnitOldSalePrice" class="form-control" placeholder="Old Sale Price">
                                                            </div>
                                                        </div> -->
                
                                                        <!-- <div class="form-group row">
                                                            <label class="control-label col-md-3 col-sm-3 ">Stock in Hand</label>
                                                            <div class="col-md-9 col-sm-9 ">
                                                                <input type="text" class="form-control" placeholder="Disabled Input" disabled>
                                                            </div>
                                                        </div>     -->
                
                
                <!-- 
                                                        <div class="ln_solid"></div>
                                                        <div class="form-group row">
                                                            <div class="col-md-9 col-sm-9  offset-md-3">
                                                                <button type="button" class="btn btn-primary">Cancel</button>
                                                                <button class="btn btn-primary" type="reset">Reset</button>
                                                                <button type="submit" class="btn btn-success">Submit</button>
                                                            </div>
                                                        </div> -->
                
                                           <!--         </form>  =================== -->
                                                </div>
                                            </div>
                
                
                
                                        </div>
                
                                        <div class="col-md-6 ">
                                            <div class="x_panel">
                                                <div class="x_title">
                                                    <ul class="nav navbar-right panel_toolbox">
                                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                        </li>
                                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                                        </li>
                                                    </ul>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="x_content">
                
                                             <!--         <form class="form-horizontal form-label-left">=================== -->
                
                                                        <div class="form-group row">
                                                            <label class="control-label col-md-3 col-sm-3 ">Product Descriptions</label>
                                                            <div class="col-md-9 col-sm-9 ">
                                                                <textarea class="form-control" name="ProductDesc" rows="3" placeholder="Product Descriptions"></textarea>
                                                            </div>
                                                        </div>
                
                                                        <div class="col-9">
                                                            <label for="ProductImages" class="form-label">Upload Product Image</label>
                                                            <!-- <input type="file" name="ProductImage" class=""> -->
                                                            <input type="file" class="" id="ProductImages" placeholder="" multiple name="ProductImages" visibility: hidden>
                
                                                        </div>
                
                                                        <div class="col-4">
                                                            <!-- <label for="Productpic" class="form-label">Product Image</label> -->
                                                            <img src="#" alt="" height="115px" width="115px">
                                                        </div>                                          
                
                                                        <div class="ln_solid"></div>
                                                        <div class="form-group">
                                                            <div class="">
                                                                <!-- <button type="button" class="btn btn-primary">Cancel</button>
                                                                <button type="reset" class="btn btn-primary">Reset</button> -->
                                                                <button type="submit" class="btn btn-success">Submit</button>
                                                            </div>
                                                        </div>
                                                  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                </div>
                            <!-- </div> -->




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

</html>